<footer>
  <div class="f-info">
    <div class="socialMediaIcons">
      <a href="https://www.linkedin.com/in/shivagheji"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://x.com/ShivaGheji"
        ><i class="fa-brands fa-square-x-twitter"></i
      ></a>
      <a href="https://www.instagram.com/shiva_gheji"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://www.facebook.com/shiva.gheji.3"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
    </div>
    <div class="copyright">
      <a href="/info">&copy; StayFinder Private Limited</a>
    </div>
    <div class="privacy">
      <a href="/privacy">privacy</a>
      <a href="/terms">terms</a>
    </div>
  </div>
</footer>
